{% load static %}
<header>
  <nav id="nav" class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <img src="{% static '/ressources/icon/icon-track.png' %}" width="20" alt=""
        class="d-inline-block align-text-top me-2" />
      <a href="#" class="navbar-brand">Smart Traffic</a>

      <div class="d-lg-flex justify-content-center align-items-center flex-grow-1">
        <ul class="navbar-nav flex-grow-1 flex-row align-items-center justify-content-around">

          <li class="nav-item">
            <a href="/" class="nav-link">
              Informations
            </a>
          </li>
          <li class="nav-item">
            <a href="/login/" class="nav-link text-primary">
              Connexion
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>