{% include 'app/base.html' %}
{% load static %}

{% block javascript %}
    <script src="{% static 'javascript/map.js' %}"></script>
{% endblock %}

{% block content %}
<main class="main-content mt-5 pt-5 mb-5 pb-5 container d-flex align-items-center justify-content-center">
  <div class="card shadow-sm border-0 p-3 rounded text-center gap-2 d-flex align-items-center justify-content-center">
  <div class="row w-100 mt-4">
    <h3 class="text-center mb-3">
      Carte de l'emplacement du système
    </h3>
    <div class="col w-80">
      <div id="map"></div>
    </div>
    <p class="p-3">
      Voici le carrefour des Champarts, intersection de la N20 avec la RD120, limitrophe avec Massy.
    </p>
  </div>
</div>
</main>
{% endblock %}