{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/design.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static '/ressources/icon/icon-track.png' %}"
      type="image/x-icon"
    />
    <title>Smart Traffic - Home</title>
  </head>
  <body class="bg-light">
    
    {% include 'app/header.html' %}

    <div class="py-3 px-2 container-fluid">
      <div class="p-3 row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-2 mb-2">
        <div class="p-5 d-flex align-items-center justify-content-center">
          <div class="card">
            <div class="card-body">
              <canvas id="canvas1" width="300" height="300"></canvas>
            </div>
          </div>
        </div>
        <div class="p-5 d-flex align-items-center justify-content-center">
          <div class="card">
            <div class="card-body">
              <canvas id="" width="300" height="300"></canvas>
            </div>
          </div>
        </div>
        <div class="p-5 d-flex align-items-center justify-content-center">
          <div class="card">
            <div class="card-body">
              <canvas id="" width="300" height="300"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'app/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
        window.onload = function () {
          let labels = JSON.parse('{{ labels_json|safe }}');
          let data = JSON.parse('{{ data_json|safe }}');
          
          // Alert tests
          alert(labels);
          alert(data);
          
          let ctx1 = document.getElementById("canvas1").getContext("2d");
          new Chart(ctx1, {
            type: "line",
            data: {
              labels: labels,
              datasets: [
                {
                  label: "Nombre de véhicules par rue",
                  backgroundColor: "rgb(255, 99, 132)",
                  borderColor: "rgb(255, 99, 132)",
                  data: data,
                },
              ],
            },
            options: {
              responsive: true,
              title: {
                display: true,
                text: "Chart.js Line Chart",
              },
            },
          });
          };
          let ctx2 = document.getElementById("canvas2").getContext("2d");
          new Chart(ctx2, {
            type: "doughnut",
            data: {
              labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
              datasets: [
                {
                  label: "# of Votes",
                  data: [12, 19, 3, 5, 2, 3],
                  backgroundColor: [
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(255, 206, 86, 0.2)",
                    "rgba(75, 192, 192, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(255, 159, 64, 0.2)",
                  ],
                  borderColor: [
                    "rgba(255, 99, 132, 1)",
                    "rgba(54, 162, 235, 1)",
                    "rgba(255, 206, 86, 1)",
                    "rgba(75, 192, 192, 1)",
                    "rgba(153, 102, 255, 1)",
                    "rgba(255, 159, 64, 1)",
                  ],
                  borderWidth: 1,
                },
              ],
            },
          });
    </script>
  </body>
</html>
