{% include 'app/base.html' %}
{% load static %}

{% block javascript %}
  <script type="text/javascript">
    window.onload = function () {

      // ----- data -----
      let rues = JSON.parse("{{ rue|escapejs|safe }}");
      let rues_nb_detections = JSON.parse("{{ nbDetection|escapejs|safe }}");

      let types = JSON.parse("{{ typeVehicule|escapejs|safe }}");
      let types_nb_detections = JSON.parse("{{ nbDetection2|escapejs|safe }}");

      // ----- backgrounds colors -----
      function getRandomColor() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return 'rgba(' + r + ', ' + g + ', ' + b + ', 0.2)';
      }

      let bC1 = rues_nb_detections.map(() => getRandomColor());
      let bC2 = types_nb_detections.map(() => getRandomColor());

      // ----- charts -----
      let ctx1 = document.getElementById("canvas1").getContext("2d");
      new Chart(ctx1, {
        type: "bar",
        data: {
          labels: rues,
          datasets: [
            {
              label: "Nombre de véhicules par rue",
              backgroundColor: bC1,
              borderColor: "#000",
              borderWidth: .75,
              data: rues_nb_detections,

            },
          ],
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: "Nombre de véhicules détectés par heure",
          },
          scales: {
            y: {
              beginAtZero: true,
              max: Math.max(...rues_nb_detections) * 2,
            },
          },
        },
      });

      let canvas2 = document.getElementById("canvas2");
      let ctx2 = canvas2.getContext("2d");
      new Chart(ctx2, {
        type: "doughnut",
        data: {
          labels: types,
          datasets: [
            {
              label: "Nombre de véhicules par type",
              data: types_nb_detections,
              backgroundColor: bC2,
              borderColor: "#000",
              borderWidth: .75,
            },
          ],
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: "Nombre de véhicules détectés par heure",
          },
          scales: {
            y: {
              beginAtZero: true,
              max: Math.max(...types_nb_detections) * 2,
            },
          },
        },
      });

      let canvas3 = document.getElementById("canvas3");
      let ctx3 = canvas3.getContext("2d");
      new Chart(ctx3, {
        type: "line",
        data: {
          labels: types,
          datasets: [
            {
              label: "Nombre de véhicules par type",
              data: types_nb_detections,
              backgroundColor: bC2,
              borderColor: "#000",
              borderWidth: .75,
            },
          ],
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: "Nombre de véhicules détectés par heure",
          },
          scales: {
            y: {
              beginAtZero: true,
              max: Math.max(...types_nb_detections) * 3,
            },
          },
        },
      });

    };
  </script>
{% endblock %}

{% block content %}
  <div class="py-3 px-2 container-fluid">
    <div class="p-3 row row-cols-1 row-cols-md-2 row-cols-lg-3 g-1 mt-5 mb-3">
      <div class="p-5 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-body">
            <canvas id="canvas1" width="300" height="300"></canvas>
          </div>
        </div>
      </div>
      <div class="p-5 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-body">
            <canvas id="canvas2" width="300" height="300"></canvas>
          </div>
        </div>
      </div>
      <div class="p-5 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-body">
            <canvas id="canvas3" width="300" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}